extends layout

block content
	include working
	if(home)
		+stacks("makeup")
	else
		+stacks("",stack.stack)

block wrapper
	unless home
		div#wrapper.makeup
			h2=stack.kicker
			h1=stack.title
			if stack.author
				h4 by 
					span.author=stack.author
			div.meta
				p Stack Number 
					span.info=stack.stack
				p XML Filename 
					span.info=stack.xmlfilename
				p Assigned to 
					span.info Alex, Amy, and Ryan
			div.buttons
				p.button
					a(target="_blank" href=dewm.weeks[user.current].orange.split("/Tablet")[1]+"/Digital Danville/"+stack.stack+"/"+stack.stack+".html") Open Digital Danville
				p.button
					a(target="_blank" href=dewm.weeks[user.current].green.split("/EDIT")[1]+"/"+stack.stack+"/"+stack.stack+".html") Open App Article

			div.status
				ul.overview
					li.copy Danville
					li.art Art
					li.makeup App
				ul.depth
					li.copy
						div.chart
						p 0 comments have been added. 2 of 3 copy readers have signed off on the Digital Danville.
					li.art
						div.chart
						p 0 of 6 tasks have been completed.
					li.makeup
						div.chart
						p App layout is not yet ready to be built.

			div.actions
				ul
					li.copy
						div.button Build Digital Danville
					li.art
						h3 Art Point Person
						h2 Nilkanth Patel
							div.edit Edit
						div.status.true
							p Dropped into new scans
							div.switch
								div.switchButton
						div.status.true
							p Crop Made by Art
							div.switch
								div.switchButton
						div.status.false 
							p Resized by Makeup
							div.switch
								div.switchButton
						div.status.false
							p Wordpress Uploaded
							div.switch
								div.switchButton
						div.status.false
							p Wordpress Cropped
							div.switch
								div.switchButton
						div.status.false
							p Wordpress Crops Resized
							div.switch
								div.switchButton
						div.status.false
							p.narrow Layout
							p.layout None
					li.makeup
						div.button Build App Article

			+viewer(dewm.weeks[user.current].green.split("/EDIT")[1]+"/"+stack.stack+"/"+stack.stack+".html")

		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/radial.js')
		script(src='/javascripts/makeup.js')

