extends layout

block content
	include working
	if(home)
		+stacks(dept,"",assignments,"makeup")
	else
		+stacks(dept,stack.stack,assignments,"")

block wrapper
	unless home
		div#wrapper.makeup
			h2=stack.kicker
			h1=stack.title
			if stack.author
				h4 by 
					span.author=stack.author
			div.meta
				p Stack Number 
					span.info=stack.stack
				p XML Filename 
					span.info=stack.xmlfilename
			div.buttons
				p.button
					a(target="_blank" href=dewm.weeks[user.current].orange.split("/Tablet")[1]+"/Digital Danville/"+stack.stack+"/"+stack.stack+".html") Open Digital Danville
				p.button
					a(target="_blank" href=dewm.weeks[user.current].green.split("/EDIT")[1]+"/"+stack.stack+"/"+stack.stack+".html") Open App Article

			div.status
				ul.overview
					li.copy Danville
					li.art Art
					li.makeup App
				ul.depth
					li.copy
						div.chart
						p
					li.art
						div.chart
						p
					li.makeup
						div.chart
						p
			div.actions
				ul
					li.copy
						div.button Build Digital Danville
						div.status.first#total
							p.wide
						div.status#unresolved
							p.wide
						span.copy#readers
						div.status.addCopy
							div.change(onclick="makeup.openCopy()") +
							p.add.wide Add Another Reader
							div.add
								select
								div.button(onclick="makeup.closeCopy()") Close
								div.button(onclick="makeup.addCopy()") Add
					li.art
						h3 Art Point Person
						h2
							span
							div.edit(onclick="makeup.openArt()") Edit
						div.add
							select
							div.button(onclick="makeup.closeArt()") Close
							div.button(onclick="makeup.changeArt()") Change
						div.status#art0
							p Dropped into new scans
							div.switch
								div.switchButton#0
						div.status#art1
							p Crop Made by Art
							div.switch
								div.switchButton#1
						div.status#art2
							p Resized by Makeup
							div.switch
								div.switchButton#2
						div.status#art3
							p Wordpress Uploaded
							div.switch
								div.switchButton#3
						div.status#art4
							p Wordpress Cropped
							div.switch
								div.switchButton#4
						div.status#art5
							p Wordpress Crops Resized
							div.switch
								div.switchButton#5
						div.status#app
							p App layout approved
							div.switch
								div.switchButton#app
						div.status#layout
							p.narrow Layout
							p.layout
					li.makeup
						div.button Build App Article
						div.status.first#built
							p App Article Built 
								span
							div.switch
								div.switchButton#built
						div.status#copy
							p Copy Approved
							div.switch
								div.switchButton#copy
						div.status#makeup
							p Makeup Approved 
								span
							div.switch
								div.switchButton#makeup
						p.message
		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/radial.js')
		script(src='/javascripts/makeup.js')

