#header
	a(href="/")
		#eustace
		#tny
			h1 The New Yorker
			h2.long Digital Edition Workflow Manager 
				span.gray 2.0
			h2.short DEWM 
				span.gray 2.0
	a.button#logout(href='/users/logout')
	if admin 
		a.button#manage(href='/admin')
	if user.access == 3
		a.button(href='/views/art') a
	else if user.access == 2
		a.button(href='/views/copy') c
	else
		- var s=""
		if stack != undefined && stack != "undefined"
			- s='?stack='+stack.stack
		a.button(href='/views/makeup'+s) m
		a.button(href='/views/copy'+s) c
		a.button(href='/views/art'+s) a
	#user
		h2.userName #{name}
		h3.userDept #{dept}
	#issues
		select#week
			each date, i in dewm.dates.stringsFormatted
				if i == user.current
					option(value=i, selected="selected") #{date}
				else
					option(value=i) #{date}
+alert

mixin stacks(dept,active,assignments,page)
	if assignments && (dept=="copy" || dept=="art")
		- var readers={}
		- var arters={}
		each a in assignments
			- readers[a.stack]=[]
			- arters[a.stack]=a.art.username
			for r in a.copy.readers
				- readers[a.stack].push(r.username)
	ul#stacks(class=page)
		if dewm.weeks[user.current].stacks != undefined
			- var toRead=[];
			each stack, i in dewm.weeks[user.current].stacks
				if assignments && (dept=="copy" || dept=="art")
					if readers[stack.stack].indexOf(user.username)>-1 || (arters[stack.stack] == user.username)
						a(href="?stack="+stack.stack)
							if (stack.stack==active)
								+stack(page,stack,"stack active")
							else
								+stack(page,stack,"stack")
						- toRead.push(stack.stack)
				else
					a(href="?stack="+stack.stack)
						if (stack.stack==active)
							+stack(page,stack,"stack active")
						else
							+stack(page,stack,"stack")
			if toRead.length==0 && (dept=="copy" || dept=="art")
				li(class="stack")
					div.number No stacks to read for this week.

mixin stack(dept,content,status)
	if dept=="makeup"
		li(id=content.stack,class=status)
			div.number=content.stack
			div.head
				span.title=content.title
				if content.author != undefined && content.author.length>1
					span.author=" by "+content.author
			div.status
				div.web
				div.copy
				div.tablet
			div.meta
	else
		li(id=content.stack,class=status)
			div.number=content.stack
			div.head
				span.title=content.title
				if content.author != undefined && content.author.length>1
					span.author=" by "+content.author
			div.status
				div.web
				div.copy
				div.tablet

mixin viewer(url,dept)
	div.viewer
		if (dept=="copy")
			div#sidebar
				a#exit.button(href="/") exit
				div#approve
				div#reading
				div#assigned
				h2 Pick a size to read on
				img.ipad(src="/images/ipad.png" width="60%")
				img.iphone(src="/images/iphone5.png" width="30%")
		else
			div#sidebar
				a.button(href=url target="_blank") Open App Layout
				div#statuses
				div#layout
					h4 Please select the layout for this piece
					select
						option None
						option .square
						option .box
				img.ipad(src="/images/ipad.png" width="34%")
				img.ipadLandscape(src="/images/ipad-landscape.png" width="44%")
				img.iphone(src="/images/iphone5.png" width="16%")
		div#iframe
			iframe(src=url scroll="yes")
	script(src='/javascripts/viewer.js')

mixin comments
	div.comments
		h2 Comments
			a(onclick="comments.newCommentToggle()") Add New
		div.newComment
			textarea.newCommentText(type='textarea', placeholder='Add comment text here.')
			div.newCommentSubmit(onclick="comments.newCommentSubmit()") Submit
			div.newCommentClose(onclick="comments.newCommentToggle()") Close
		ul
	script(src='/javascripts/comments.js')

mixin alert
	div#alert
		div#alertContent
			h2 Oh man, a stack was just deleted from the sidecar.
			h3 You're my only hope! Can you match up the old stack numbers (on the left) with the new ones (on the right)? If one of the old ones has been deleted from the issue, select 'Deleted.' If there's any new stack that's left unmatched, it will be treated like a completely new stack.
			div.column#old
				h2 Deleted
				ul
			div.column#new
				h2 Added
				ul
			div.column
				div.button#close Someone else is doing it
			div.column
				div.button#submit Submit 

